{% comment %} <!-- resumes.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume List</title>
</head>
<body>
    <h1>Resume List</h1>
    <ul>
        {% for resume in resumes %}
            <li>
                <strong>{{ resume.full_name }}</strong>
                <p>Email: {{ resume.email }}</p>
                <p>Phone: {{ resume.phone }}</p>
                <p>Summary: {{ resume.summary }}</p>
                <p>educa
                <!-- Hiển thị thêm các thông tin khác nếu muốn -->
            </li>
        {% endfor %}
    </ul>
</body>
</html> {% endcomment %}

{% comment %} <h1>Hello Worlds</h1>

<img src="{% static 'img/avata.jpg' %}" width="400px" hieght="400px"> {% endcomment %}
{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Trung Hieu Resume</title>
        <link href= "{% static './css/main.css' %}" rel= "stylesheet" type= "text/css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   
        <link rel="stylesheet" href="http://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
     
       
    </head>
    <body>
        {% for resume in resumes %}
        <div class="wrapper">
            <div class="intro">
              <div class="profile">
                <div class="photo">
                  <img src="{% static './img/avata.jpg' %}">
                </div>
                <div class="bio">
                  <h1 class="name">{{ resume.Ho_Ten}}</h1>
                  <p class="profession">Sinh Viên IT</p>
                </div>
              </div>
              <div class="intro-section about">
                <h1 class="title">giởi thiệu</h1>
                <p class="paragraph">
                  {{ resume.Tom_Tat}}
                </p>
              </div>
              <div class="intro-section contact">
                <h1 class="title">liên hệ</h1>
                <div class="info-section">
                  <i class="fas fa-phone"></i>
                  <span>{{resume.So_Dien_Thoai}}</span>
                </div>
                <div class="info-section">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>Cầu Ngang, Trà Vinh</span>
                </div>
                <div class="info-section">
                  <i class="fas fa-regular fa-envelope"></i>
                  <span>{{resume.email}}</span>
                </div>
                <div class="info-section link">
                  <i class="fab fa-facebook"></i>
                  <a target="_blank" rel="author" href="https://www.facebook.com/TrungHieu1603">
                    <span>Trung Hiếu</span>
                  </a>
                </div>
              </div>
              <div class="intro-section follow">
                <h1 class="title">theo dỗi tôi tại</h1>
                <div class="info-section link">
                  <i class="fab fa-github"></i>
                  <a target="_blank" rel="author" href="https://github.com/TrungHieu1603">
                    <span>TrungHieu@github</span>
                  </a>
                </div>
                <div class="info-section link">
                    <i class="fab fa-facebook"></i>
                    <a target="_blank" rel="author" href="https://www.facebook.com/TrungHieu1603">
                    <span>Facebook</span>
                  </a>
                </div>
                
              </div>
            </div>
            <div class="detail">
              <div class="detail-section edu">
                <div class="detail-title">
                  <div class="title-icon">
                    <i class="fas fa-user-graduate"></i>
                  </div>
                  <span>Giáo Dục</span>
                </div>
                <div class="detail-content">
                  <div class="timeline-block">
                    <h1>{{resume.Giao_Duc2}}</h1>
                    <p>Thị Trấn Cầu Ngang, Huyện Cầu Ngang, Tỉnh Trà Vinh</p>
                    <time>2011 - 2015</time>
                  </div>
                  <div class="timeline-block">
                    <h1>{{resume.Giao_Duc3}}</h1>
                    <p>Xã Long Sơn, Huyện Cầu Ngang, Tỉnh Trà Vinh </p>
                    <time>2015 - 2018</time>
                  </div>
                  <div class="timeline-block">
                    <h1>{{resume.Giao_Duc}}</h1>
                    <p>Thành Phố Trà Vinh, Tỉnh Trà Vinh</p>
                    <time>2021 - Hiện tại</time>
                  </div>
                </div>
              </div>
              <div class="detail-section pg-skill">
                <div class="detail-title">
                  <div class="title-icon">
                    <i class="fas fa-laptop-code"></i>
                  </div>
                  <span>Kỹ Năng</span>
                </div>
                <div class="detail-content">
                  <ul class="pg-list">
                    <li>
                      <span>HTML</span>
                      <div class="sb-skeleton">
                        <div class="skillbar" style="--pgbar-length: 0%">
                            <span></span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span>CSS</span>
                      <div class="sb-skeleton">
                        <div class="skillbar" style="--pgbar-length: 0%"></div>
                      </div>
                    </li>
                    <li>
                      <span>Javascript</span>
                      <div class="sb-skeleton">
                        <div class="skillbar" style="--pgbar-length: 0%"></div>
                      </div>
                    </li>
                    <li>
                      <span>Python</span>
                      <div class="sb-skeleton">
                        <div class="skillbar" style="--pgbar-length: 0%"></div>
                      </div>
                    </li>
                    <li>
                      <span>C / C#</span>
                      <div class="sb-skeleton">
                        <div class="skillbar" style="--pgbar-length: 0%"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="detail-section tool-skill">
                <div class="detail-title">
                  <div class="title-icon">
                    <i class="fas fa-tools"></i>
                  </div>
                  <span>Công Cụ Phát Triển</span>
                </div>
                <div class="detail-content">
                  <ul class="tool-list">
                    <li>
                      <svg viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="45"></circle>
                        <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.6"></circle>
                      </svg>
                      <span class="tl-name">Photoshop</span>
                      <span class="tl-exp">60%</span>
                    </li>
                    <li>
                      <svg viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="45"></circle>
                        <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 1"></circle>
                      </svg>
                      <span class="tl-name">Visual Studio Code</span>
                      <span class="tl-exp"><br><br>100%</span>
                    </li>
                    <li>
                      <svg viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="45"></circle>
                        <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.7"></circle>
                      </svg>
                      <span class="tl-name">Git</span>
                      <span class="tl-exp">70%</span>
                    </li>
                    <li>
                      <svg viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="45"></circle>
                        <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.74"></circle>
                      </svg>
                      <span class="tl-name">GitHub</span>
                      <span class="tl-exp">100%</span>
                    </li>
                  </ul>
                </div>
          
              </div>
              <div class="detail-section interests">
                <div class="detail-title">
                  <div class="title-icon">
                    <i class="fas fa-heart"></i>
                  </div>
                  <span>Sở Thích</span>
                </div>
                <div class="detail-content">
                  <div class="outer-frame">
                    <ul class="favor-list">
                      <li>
                        <i class="fas fa-gamepad"></i>
                        <span>Chơi Game</span>
                      </li>
                      <li>
                        <i class="fas fa-paw"></i>
                        <span>Thú Cưng</span>
                      </li>
                      <li>
                        <i class="far fa-headphones-alt"></i>
                        <span>Nghe Nhạc</span>
                      </li>
                      <li>
                        <i class="fas fa-book-spells"></i>
                        <span>Tự Học</span>
                      </li>
                      <li>
                        <i class="fas fa-user-edit"></i>
                        <span>Viết Blog</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </body>
</html>